.pgv-stages-graph {
  height: 100% !important;
  overflow: hidden;

  .pgv-stages-graph__title-text, .jenkins-card__controls, .pgw-zoom-controls {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: -0.1875rem;
      backdrop-filter: blur(10px);
      border-radius: calc(var(--form-input-border-radius) - -0.1875rem);
      background: color-mix(in srgb, var(--card-background) 80%, transparent);
      border: var(--jenkins-border-width) solid transparent;
      background-clip: padding-box;
      z-index: -1;
    }

    .jenkins-card__reveal {
      --item-background: none;
      --item-blur: none;
      margin-block: unset;
    }
  }

  .pgw-zoom-controls {
    position: absolute;
    inset: 0.5625rem;
    display: flex;
    align-items: center;
    z-index: 1;
  }

  .jenkins-card__title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &--left {
    position: sticky;
    top: calc(var(--pgv-header-height) + var(--section-padding));
    height: calc(
      100vh - (var(--pgv-header-height) + 100px + var(--section-padding))
    );
    max-height: calc(
      100vh -
        (
          var(--pgv-header-height) + var(--section-padding) +
            var(--section-padding)
        )
    );
  }

  &--dialog {
    position: fixed;
    inset: 0 !important;
    z-index: 30000;
    border-radius: 0;
    border: none;
    height: unset;
    max-height: unset;

    .jenkins-button svg {
      width: 1.125rem;
      height: 1.125rem;
    }
  }
}

// Hacky method of getting the full screen graph to
// overlay the header and scroll up/down controls
#page-body:has(.pgv-stages-graph--dialog) {
  z-index: 1001;

  .pgv-split-view__container {
    z-index: 1001;
  }
}
