.pgv-run-snippet {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 200px;
  width: 200px;

  & > a,
  .pgv-run-snippet__collapsed {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 1.625rem;
      height: 1.625rem;
      flex-shrink: 0;
    }
  }
}
