.pgv-single-run {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  & > a {
    display: flex;
    align-items: center;
    justify-items: center;
    border: 2px solid red;

    svg {
      width: 1rem;
      height: 1rem;
      flex-shrink: 0;
    }
  }
}
